@import url('https://fonts.bunny.net/css?family=Nunito');

@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
@import 'datatables.net-select-bs5/css/select.bootstrap5.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
    background-color: cadetblue;
    background-image: none;
}
